[user]
	email = 60850111+thechidambaram@users.noreply.github.com 
	name = Chidambaram Nachiappan
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = false
[core]
	editor = vim
